<ng-container *ngIf="user$ | async">
  <div class="fixed h-[60px] w-screen bg-gray-600 text-base text-white">
    <div class="container mx-auto flex h-full items-center justify-between">
      <div class="flex gap-4 text-gray-300">
        <a routerLink="" class="transition-all hover:text-white">Home</a>
        <a routerLink="users" class="transition-all hover:text-white">Users</a>
      </div>
      <div class="flex gap-4">
        <div *ngIf="user$ | async as user">
          <span>Hello {{ user.firstName }} !</span>
        </div>
        <button class="text-gray-300 transition-all hover:text-white" (click)="showModal()">Logout</button>
      </div>
    </div>
  </div>
</ng-container>
<div class="wrapper flex min-h-screen flex-col">
  <div class="flex-1 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="user$ | async">
    <div class="py-8">
      <div class="flex justify-center gap-2">
        <a href="https://github.com/lethanhtuan939/User-Management" class="text-base text-blue-500 underline underline-offset-2 hover:text-blue-800">Angular CRUD</a>
        <span>|</span>
        <a href="https://github.com/lethanhtuan939" class="text-base text-blue-500 underline underline-offset-2 hover:text-blue-800">by Thanh Tuan Le</a>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="isLogout">
  <app-modal (onClose)="onCloseModal()" (onAccept)="logout()" title="Delete User" content="Are you sure to logout?">
  </app-modal>
</ng-container>